.matrix-generator-container {
    background-color: #f0f0f0;
    padding: 20px 20px 50px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.input-container {
    margin-bottom: 10px;
}

.input-label {
    font-weight: bold;
}

.generate-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.generate-button:hover {
    background-color: #0056b3;
}

.generate-button:disabled {
    background-color: rgba(0, 0, 0, 0.266);
    cursor: default;
}